.bg {
    background-image: url("../../../assets/landing_final.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position:  left 80% ;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* align-items:center; */
    flex-direction: column;
    justify-content: center;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

.flecha:hover{
    animation-duration: 1s;
    animation-name: girarFlecha;
}

@keyframes girarFlecha{
    from {
        transform: rotate(0deg)
        
      }
    
      to {
        transform: rotate(360deg)
      }
}